@using Backend.Domain.Entities.Addresses;
<div class="card-body">
    <h5 class="card-title fw-semibold mb-4">Endereços</h5>
    @if (Addresses is null || Addresses.Any())
    {
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    @foreach (var address in Addresses)
                    {
                        <!-- start row -->
                        <tr class="search-items">
                           
                            <td>
                                <div class="">
                                    <h6 class="m-3"><strong>Endereço:</strong> <span class="text-muted">@address.StreetName, @address.StreetNumber</span></h6>
                                    <h6 class="m-3"><strong>Cidade:</strong> <span class="text-muted">@address.CityName</span></h6>
                                    <h6 class="m-3"><strong>País:</strong> <span class="text-muted">@address.CountryName</span></h6>
                                    <h6 class="m-3"><strong>CEP:</strong> <span class="text-muted">@address.PostalCode</span></h6>
                                    <div class="action-btn m-3">
                                        <a class="text-primary edit" @onclick="() => EditItem(address)">
                                            <i class="ti ti-eye fs-5"></i>
                                        </a>
                                        <a class="text-dark delete ms-2" @onclick="() => DeleteModalAction(address)">
                                            <i class="ti ti-trash fs-5"></i>
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!-- end row -->
                    }
                </tbody>
            </table>
        </div>


    }
    else
    {
        <p>No phone numbers created to this agent yet.</p>
    }
</div>
@if (selectedAddress is not null)
{
    <Frontend.Web.Components.Addresses.Modals.DeleteAddress Model="selectedAddress" ShowModal="ShowModal" />
}

@code
{
    Address? selectedAddress = null;
    public void DeleteModalAction(Address address)
    {
        ShowModal = true;
        selectedAddress = address;
    }
}
@code
{
    [Parameter]
    public IEnumerable<Address>? Addresses { get; set; }

    [Parameter]
    public bool ShowModal { get; set; }
}
@code
{
    [Parameter]
    public EventCallback<Address> SelectedItem { get; set; }

    private void EditItem(Address selectedAdress)
    {
        SelectedItem.InvokeAsync(selectedAdress);
    }
}