@using Frontend.Web.Components.Layout;
@using Sotsera.Blazor.Toaster
<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <ToastContainer />
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
