@using Backend.Domain.Entities.Products;
@using Backend.Domain.Enums.Colors;
@using Backend.Domain.Enums.MetricUnits;
@using Frontend.Web.Services.Authentication;
@using Frontend.Web.Services.Products;
@inject NavigationManager navigator
@inject ProductService _productService
@inject AuthenticationService _authenticationService;
@inject Sotsera.Blazor.Toaster.IToaster Toaster

<div>
    <div class="card p-4">
        <h5 class="card-title fw-semibold mb-4">Product details</h5>
        <div class="row">
            <div class="mb-3 col-md-3">
                <img src="https://chamegobaby.com.br/wp-content/uploads/2022/11/Produto-teste2.png" alt="" class="card-img rounded-12">
            </div>
            <div class="col-md-9">
                <form>
                    <div class="row">
                        <div class="mb-3 col-sm-3">
                            <label for="username">SKU</label>
                            <input type="text" class="form-control" id="sku" placeholder="SKU" @bind="@Model.SKU" disabled>
                        </div>
                        <div class="mb-3 col-sm-3">
                            <label for="username">GTIN</label>
                            <input type="text" class="form-control" id="gtin" placeholder="GTIN" @bind="@Model.GTIN" disabled>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" @bind="@Model.Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-sm-6">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" placeholder="Description" @bind="@Model.Description">
                        </div>
                        <div class="mb-3 col-sm-3">
                            <label for="value">Value</label>
                            <input type="number" class="form-control" id="value" placeholder="Value" @bind="@Model.Value">
                        </div>
                        <div class="mb-3 col-sm-3">
                            <label for="productType">Product Type</label>
                            <select class="form-select" @bind="@Model.ProductTypeId">
                                <option value="1">Feedstock</option>
                                <option value="2">Intermediate Component</option>
                                <option value="3">Product</option>
                            </select>
                        </div>
                        <div class="mb-3 col-sm-3">
                            <label for="productType">Color</label>
                            <select class="form-select" @bind="@Model.ColorName">
                                <option selected>@Model.ColorName</option>
                                @foreach (var color in Colors.ColorList)
                                {
                                    <option value="@color">@color</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3 col-sm-3">
                            <label for="metricUnits" class="form-label">Metric Unit</label>
                            <select class="form-select" @bind="@Model.MetricUnitName">
                                <option selected>@Model.MetricUnitName</option>
                                @foreach (var unitType in MetricUnits.Measure.measurementUnitTypes)
                                {
                                    <option value="@unitType">@unitType</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-sm-3">
                            <label for="liquidWeight">Liquid Weight</label>
                            <input type="number" class="form-control" id="liquidWeight" placeholder="Liquid Weight" @bind="@Model.LiquidWeight">
                        </div>
                        <div class="mb-3 col-sm-3">
                            <label for="totalWeight">Total Weight</label>
                            <input type="number" class="form-control" id="totalWeight" placeholder="Total Weight" @bind="@Model.TotalWeight">
                        </div>
                    </div>
                    <button type="button" @onclick="UpdateProduct" class="btn btn-default float-right">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

@code
{
    public async Task UpdateProduct()
    {
        var context = await _authenticationService.GetContext();
        Model.TenantId = context.Tenant.Id;
        var response = await _productService.UpdateProduct(Model);
        if (response.Successful())
        {
            navigator.NavigateTo(navigator.Uri, true);
            Toaster.Success("Updated successfully!");
        }
        else
        {
            Toaster.Error(response.ErrorMessage);
        }
    }
}

@code
{
    [Parameter] public ProductDetail Model {  get; set; }
}