@using Backend.Domain.Entities.Stocks;
@using Backend.Domain.Entities.Authentication.Users.UserContext;
@using Frontend.Web.Services.Stocks;
@using Frontend.Web.Services.Authentication;
@using Microsoft.AspNetCore.Components.Forms;
@using Backend.Domain.Enums.MovementType;
@using Frontend.Web.Services.Products;
@using Backend.Domain.Entities.Products;
@inject StockService _stockService;
@inject AuthenticationService _authenticationService;
@inject NavigationManager NavigationManager;
@inject ProductService _productService;


<div class="card card-body ">
    <h3 class="card-title fw-semibold mb-4">Stock</h3>
    @if (isLoading)
    {
        <Frontend.Web.Components.Loader.LoadingSpinner />
    }
    else
    {
        @if (!(Model == null || Model.Count() == 0))
        {
            <div class="table-responsive">
                <table class="table search-table align-middle text-nowrap table-fixed">
                    <thead class="header-item">
                        <tr>
                            <th>
                                <div class="n-chk align-self-center text-center">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input primary" id="contact-check-all">
                                        <label class="form-check-label" for="contact-check-all"></label>
                                        <span class="new-control-indicator"></span>
                                    </div>
                                </div>
                            </th>
                            <th>IdStock</th>
                            <th>IdProduct</th>
                            <th>ProductName</th>
                            <th>Type Movement</th>
                            <th>IdStatus</th>
                            <th>Quantity</th>
                            <th>Value</th>
                            <th>SKU</th>
                            <th>GTIN</th>
                            <th>CategoryName</th>
                            <th>SubCategoryName</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var stock in Model)
                        {
                            <!-- start row -->
                            <tr class="search-items">
                                <td>
                                    <div class="n-chk align-self-center text-center">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input contact-chkbox primary" id="checkbox1">
                                            <label class="form-check-label" for="checkbox1"></label>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <span class="usr-email-addr" data-email="adams@mail.com">@stock.StockMovementId</span>
                                </td>
                                <td>

                                    <span class="usr-email-addr" data-email="adams@mail.com">@stock.ProductId</span>

                                </td>
                                <td>

                                    <span class="usr-location" data-location="Boston, USA">@stock.ProductName</span>

                                </td>
                                <td>
                                    <span class="usr-ph-no">@stock.MovementType</span>
                                </td>
                                <td>
                                    <span class="usr-ph-no">@stock.MovementStatusId</span>
                                </td>
                                <td>
                                    <span class="usr-ph-no">@stock.Quantity</span>
                                </td>
                                <td>
                                    <span class="usr-ph-no">@stock.ProductValue</span>
                                </td>
                                <td>
                                    <span class="usr-ph-no">@stock.SKU</span>
                                </td>
                                <td>
                                    <span class="usr-ph-no">@stock.GTIN</span>
                                </td>
                                <td>
                                    <span class="usr-ph-no">@stock.CategoryName</span>
                                </td>
                                <td>
                                    <span class="usr-ph-no">@stock.SubCategoryName</span>
                                </td>
                                <td>
                                    <div class="action-btn">
                                        <a class="text-primary edit" @onclick="() => Edit(stock)">
                                            <i class="ti ti-eye fs-5" ></i>
                                            
                                        </a>
                                        <a class=" text-dark delete ms-2">
                                            <i class="ti ti-trash fs-5"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p>No stock created yet.</p>
        }
    }
</div>

@code {
    public bool isLoading;
    public IEnumerable<StockDetail> Model = new List<StockDetail>();

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        var context = await _authenticationService.GetContext();
        Model = await _stockService.GetStockWithDetail(context.Tenant.Id.ToString());
        isLoading = false;

    }

    private void Edit(StockDetail stock)
    {
        NavigationManager.NavigateTo($"/stock/edit/{stock.StockMovementId}");
    }


}

