@using Backend.Domain.Entities.Products;
<div>
    <div class="card p-4">
        <h5 class="card-title fw-semibold mb-4">Detalhes do item</h5>
        <div class="row">
            <div class="mb-3 col-md-3">
                <img src="@Model.MediaURL" alt="" class="card-img rounded-12">
            </div>
            <div class="col-md-9">
                <form>
                    <div class="row">
                        <div class="mb-3 col-sm-3">
                            <label for="username">SKU</label>
                            <input type="text" class="form-control" id="sku" placeholder="SKU" @bind="@Model.SKU" disabled>
                        </div>
                        <div class="mb-3 col-sm-3">
                            <label for="username">GTIN</label>
                            <input type="text" class="form-control" id="gtin" placeholder="GTIN" @bind="@Model.GTIN" disabled>
                        </div>
                        <div class="mb-3 col-sm-6">
                            <label for="name">Nome</label>
                            <input type="text" class="form-control" id="name" placeholder="Name" @bind="@Model.Name" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-sm-6">
                            <label for="description">Descrição</label>
                            <input type="text" class="form-control" id="description" placeholder="Description" @bind="@Model.Description" disabled>
                        </div>
                        <div class="mb-3 col-sm-3">
                            <label for="value">Valor</label>
                            <input type="number" class="form-control" id="value" placeholder="Value" @bind="@Model.Value" disabled>
                        </div>
                        <div class="mb-3 col-sm-3">
                            <label for="value">Tipo do Produto</label>
                            <input type="number" class="form-control" id="value" placeholder="Value" @bind="@Model.ProductTypeId" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-sm-3">
                            <label for="liquidWeight">Peso Líquido</label>
                            <input type="number" class="form-control" id="liquidWeight" placeholder="Liquid Weight" @bind="@Model.LiquidWeight" disabled>
                        </div>
                        <div class="mb-3 col-sm-3">
                            <label for="totalWeight">Peso Bruto</label>
                            <input type="number" class="form-control" id="totalWeight" placeholder="Total Weight" @bind="@Model.TotalWeight" disabled>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@code
{
    [Parameter] public ProductDetail Model { get; set; }
}