@using Backend.Domain.Entities.OrderItems.Response;
@if (OrdersItems is not null && OrdersItems.Count() > 0)
{
    <div class="table-responsive mt-5">
        <table class="table table-hover">
            <thead>
                <!-- start row -->
                <tr>
                    <th class="text-center">#</th>
                    <th>Description</th>
                    <th class="text-end">Quantity</th>
                    <th class="text-end">Unit Cost</th>
                    <th class="text-end">Total</th>
                </tr>
                <!-- end row -->
            </thead>
            <tbody>
                @foreach (var item in OrdersItems)
                {
                    int seq = 0;
                    <!-- start row -->
                    <tr>
                        <td class="text-center">@(seq++)</td>
                        <td>@item.Item.Name</td>
                        <td class="text-end">@item.ItemQuantity</td>
                        <td class="text-end">@item.ItemUnitAmount</td>
                        <td class="text-end">@item.ItemTotalAmount</td>
                    </tr>
                    <!-- end row -->
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h1>Mensagem legal</h1>
}
@code 
{
    [Parameter]
    public IEnumerable<OrderItemsResponse> OrdersItems { get; set; }
}
